body{
    background-color: #fafafa;
}

.calc{
    display: flex;
    justify-content: center;

}

.fundo{
    background-color: slateblue;
    margin: 10px;
    text-align: center ;
    padding: 10px;
}

div div input{
    width: 45%;
    margin: 10px;
}



.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}
section {
    display: flex;
    justify-content: center;
}

section div button {
    margin: 3px;
    border-radius: 0%;
    background-color: #000;
    
}

div ul button{
    background-color: #fff;
    border-radius: 0%;
}

li {
    background-color: slateblue;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 15px;
}